<!DOCTYPE html>
<html>
  <head>
    <title>Turboapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= Time.zone.now %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Dashboard", static_pages_dashboard_path %>
    <% if current_user %>
      <%= current_user.email %>
      <%#= this do't work in rails 7: gives error of no routes matches %>
      <%#= link_to 'Logout', destroy_user_session_path, method: :delete %>

      <%#= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: {turbo: false} %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <%= link_to "Home", root_path %>
    
    <%= yield %>
  </body>
</html>
